# 1.Libs and session

In [1]:
import numpy as np
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, StringType, DoubleType
from pyspark.sql.functions import when
import pandas as pd
from pyspark.sql import functions

In [2]:
spark = SparkSession.builder\
                    .appName("Dataframe")\
                    .config("spark.jars.packages", "com.datastax.spark:spark-cassandra-connector_2.11:2.5.1")\
                    .master("local[*]")\
                    .getOrCreate()

# 2.Data reading

In [3]:
def dfSchema(columnNames):
    ret = StructType()
    for i in columnNames:
        if i=="tucaseid":
            ret.add(StructField(i, StringType(), False))
        else:
            ret.add(StructField(i, DoubleType(), False))
    return ret

In [4]:
pd_data = pd.read_csv("atussum.csv")
data_set = spark.read.format("csv")\
                     .option("header", "true")\
                     .load("atussum.csv", schema=dfSchema(pd_data.columns))

In [5]:
data_set.printSchema()

root
 |-- tucaseid: string (nullable = true)
 |-- gemetsta: double (nullable = true)
 |-- gtmetsta: double (nullable = true)
 |-- peeduca: double (nullable = true)
 |-- pehspnon: double (nullable = true)
 |-- ptdtrace: double (nullable = true)
 |-- teage: double (nullable = true)
 |-- telfs: double (nullable = true)
 |-- temjot: double (nullable = true)
 |-- teschenr: double (nullable = true)
 |-- teschlvl: double (nullable = true)
 |-- tesex: double (nullable = true)
 |-- tespempnot: double (nullable = true)
 |-- trchildnum: double (nullable = true)
 |-- trdpftpt: double (nullable = true)
 |-- trernwa: double (nullable = true)
 |-- trholiday: double (nullable = true)
 |-- trspftpt: double (nullable = true)
 |-- trsppres: double (nullable = true)
 |-- tryhhchild: double (nullable = true)
 |-- tudiaryday: double (nullable = true)
 |-- tufnwgtp: double (nullable = true)
 |-- tehruslt: double (nullable = true)
 |-- tuyear: double (nullable = true)
 |-- t010101: double (nullable = true)
 |-- t010102: double (nullable = true)
 |-- t010199: double (nullable = true)
 |-- t010201: double (nullable = true)
 |-- t010299: double (nullable = true)
 |-- t010301: double (nullable = true)
 |-- t010399: double (nullable = true)
 |-- t010401: double (nullable = true)
 |-- t010499: double (nullable = true)
 |-- t010501: double (nullable = true)
 |-- t010599: double (nullable = true)
 |-- t019999: double (nullable = true)
 |-- t020101: double (nullable = true)
 |-- t020102: double (nullable = true)
 |-- t020103: double (nullable = true)
 |-- t020104: double (nullable = true)
 |-- t020199: double (nullable = true)
 |-- t020201: double (nullable = true)
 |-- t020202: double (nullable = true)
 |-- t020203: double (nullable = true)
 |-- t020299: double (nullable = true)
 |-- t020301: double (nullable = true)
 |-- t020302: double (nullable = true)
 |-- t020303: double (nullable = true)
 |-- t020399: double (nullable = true)
 |-- t020401: double (nullable = true)
 |-- t020402: double (nullable = true)
 |-- t020499: double (nullable = true)
 |-- t020501: double (nullable = true)
 |-- t020502: double (nullable = true)
 |-- t020599: double (nullable = true)
 |-- t020681: double (nullable = true)
 |-- t020699: double (nullable = true)
 |-- t020701: double (nullable = true)
 |-- t020799: double (nullable = true)
 |-- t020801: double (nullable = true)
 |-- t020899: double (nullable = true)
 |-- t020901: double (nullable = true)
 |-- t020902: double (nullable = true)
 |-- t020903: double (nullable = true)
 |-- t020904: double (nullable = true)
 |-- t020905: double (nullable = true)
 |-- t020999: double (nullable = true)
 |-- t029999: double (nullable = true)
 |-- t030101: double (nullable = true)
 |-- t030102: double (nullable = true)
 |-- t030103: double (nullable = true)
 |-- t030104: double (nullable = true)
 |-- t030105: double (nullable = true)
 |-- t030108: double (nullable = true)
 |-- t030109: double (nullable = true)
 |-- t030110: double (nullable = true)
 |-- t030111: double (nullable = true)
 |-- t030112: double (nullable = true)
 |-- t030186: double (nullable = true)
 |-- t030199: double (nullable = true)
 |-- t030201: double (nullable = true)
 |-- t030202: double (nullable = true)
 |-- t030203: double (nullable = true)
 |-- t030204: double (nullable = true)
 |-- t030299: double (nullable = true)
 |-- t030301: double (nullable = true)
 |-- t030302: double (nullable = true)
 |-- t030303: double (nullable = true)
 |-- t030399: double (nullable = true)
 |-- t030401: double (nullable = true)
 |-- t030402: double (nullable = true)
 |-- t030403: double (nullable = true)
 |-- t030404: double (nullable = true)
 |-- t030405: double (nullable = true)
 |-- t030499: double (nullable = true)
 |-- t030501: double (nullable = true)
 |-- t030502: double (nullable = true)
 |-- t030503: double (nullable = true)
 |-- t030504: double (nullable = true)
 |-- t030599: double (nullable = true)
 |-- t039999: double (nullable = true)
 |-- t040101: double (nullable = true)
 |-- t040102: double (nullable = true)
 |-- t040103: double (nullable = true)
 |-- t040104: double (nullable = true)
 |-- t040105: double (nullable = true)
 |-- t040108: double (nullable = true)
 |-- t040109: double (nullable = true)
 |-- t040110: double (nullable = true)
 |-- t040111: double (nullable = true)
 |-- t040112: double (nullable = true)
 |-- t040186: double (nullable = true)
 |-- t040199: double (nullable = true)
 |-- t040201: double (nullable = true)
 |-- t040202: double (nullable = true)
 |-- t040203: double (nullable = true)
 |-- t040204: double (nullable = true)
 |-- t040299: double (nullable = true)
 |-- t040301: double (nullable = true)
 |-- t040302: double (nullable = true)
 |-- t040303: double (nullable = true)
 |-- t040399: double (nullable = true)
 |-- t040401: double (nullable = true)
 |-- t040402: double (nullable = true)
 |-- t040403: double (nullable = true)
 |-- t040404: double (nullable = true)
 |-- t040405: double (nullable = true)
 |-- t040499: double (nullable = true)
 |-- t040501: double (nullable = true)
 |-- t040502: double (nullable = true)
 |-- t040503: double (nullable = true)
 |-- t040504: double (nullable = true)
 |-- t040505: double (nullable = true)
 |-- t040506: double (nullable = true)
 |-- t040507: double (nullable = true)
 |-- t040508: double (nullable = true)
 |-- t040599: double (nullable = true)
 |-- t049999: double (nullable = true)
 |-- t050101: double (nullable = true)
 |-- t050102: double (nullable = true)
 |-- t050103: double (nullable = true)
 |-- t050189: double (nullable = true)
 |-- t050201: double (nullable = true)
 |-- t050202: double (nullable = true)
 |-- t050203: double (nullable = true)
 |-- t050204: double (nullable = true)
 |-- t050289: double (nullable = true)
 |-- t050301: double (nullable = true)
 |-- t050302: double (nullable = true)
 |-- t050303: double (nullable = true)
 |-- t050304: double (nullable = true)
 |-- t050389: double (nullable = true)
 |-- t050403: double (nullable = true)
 |-- t050404: double (nullable = true)
 |-- t050405: double (nullable = true)
 |-- t050481: double (nullable = true)
 |-- t050499: double (nullable = true)
 |-- t059999: double (nullable = true)
 |-- t060101: double (nullable = true)
 |-- t060102: double (nullable = true)
 |-- t060103: double (nullable = true)
 |-- t060104: double (nullable = true)
 |-- t060199: double (nullable = true)
 |-- t060201: double (nullable = true)
 |-- t060202: double (nullable = true)
 |-- t060203: double (nullable = true)
 |-- t060289: double (nullable = true)
 |-- t060301: double (nullable = true)
 |-- t060302: double (nullable = true)
 |-- t060303: double (nullable = true)
 |-- t060399: double (nullable = true)
 |-- t060401: double (nullable = true)
 |-- t060402: double (nullable = true)
 |-- t060403: double (nullable = true)
 |-- t060499: double (nullable = true)
 |-- t069999: double (nullable = true)
 |-- t070101: double (nullable = true)
 |-- t070102: double (nullable = true)
 |-- t070103: double (nullable = true)
 |-- t070104: double (nullable = true)
 |-- t070105: double (nullable = true)
 |-- t070199: double (nullable = true)
 |-- t070201: double (nullable = true)
 |-- t070299: double (nullable = true)
 |-- t070301: double (nullable = true)
 |-- t070399: double (nullable = true)
 |-- t079999: double (nullable = true)
 |-- t080101: double (nullable = true)
 |-- t080102: double (nullable = true)
 |-- t080199: double (nullable = true)
 |-- t080201: double (nullable = true)
 |-- t080202: double (nullable = true)
 |-- t080203: double (nullable = true)
 |-- t080299: double (nullable = true)
 |-- t080301: double (nullable = true)
 |-- t080302: double (nullable = true)
 |-- t080399: double (nullable = true)
 |-- t080401: double (nullable = true)
 |-- t080402: double (nullable = true)
 |-- t080403: double (nullable = true)
 |-- t080499: double (nullable = true)
 |-- t080501: double (nullable = true)
 |-- t080502: double (nullable = true)
 |-- t080599: double (nullable = true)
 |-- t080601: double (nullable = true)
 |-- t080602: double (nullable = true)
 |-- t080699: double (nullable = true)
 |-- t080701: double (nullable = true)
 |-- t080702: double (nullable = true)
 |-- t080799: double (nullable = true)
 |-- t080801: double (nullable = true)
 |-- t080899: double (nullable = true)
 |-- t089999: double (nullable = true)
 |-- t090101: double (nullable = true)
 |-- t090102: double (nullable = true)
 |-- t090103: double (nullable = true)
 |-- t090104: double (nullable = true)
 |-- t090199: double (nullable = true)
 |-- t090201: double (nullable = true)
 |-- t090202: double (nullable = true)
 |-- t090299: double (nullable = true)
 |-- t090301: double (nullable = true)
 |-- t090302: double (nullable = true)
 |-- t090399: double (nullable = true)
 |-- t090401: double (nullable = true)
 |-- t090402: double (nullable = true)
 |-- t090499: double (nullable = true)
 |-- t090501: double (nullable = true)
 |-- t090502: double (nullable = true)
 |-- t090599: double (nullable = true)
 |-- t099999: double (nullable = true)
 |-- t100101: double (nullable = true)
 |-- t100102: double (nullable = true)
 |-- t100103: double (nullable = true)
 |-- t100199: double (nullable = true)
 |-- t100201: double (nullable = true)
 |-- t100299: double (nullable = true)
 |-- t100381: double (nullable = true)
 |-- t100383: double (nullable = true)
 |-- t100399: double (nullable = true)
 |-- t100401: double (nullable = true)
 |-- t100499: double (nullable = true)
 |-- t109999: double (nullable = true)
 |-- t110101: double (nullable = true)
 |-- t110199: double (nullable = true)
 |-- t110281: double (nullable = true)
 |-- t110289: double (nullable = true)
 |-- t119999: double (nullable = true)
 |-- t120101: double (nullable = true)
 |-- t120199: double (nullable = true)
 |-- t120201: double (nullable = true)
 |-- t120202: double (nullable = true)
 |-- t120299: double (nullable = true)
 |-- t120301: double (nullable = true)
 |-- t120302: double (nullable = true)
 |-- t120303: double (nullable = true)
 |-- t120304: double (nullable = true)
 |-- t120305: double (nullable = true)
 |-- t120306: double (nullable = true)
 |-- t120307: double (nullable = true)
 |-- t120308: double (nullable = true)
 |-- t120309: double (nullable = true)
 |-- t120310: double (nullable = true)
 |-- t120311: double (nullable = true)
 |-- t120312: double (nullable = true)
 |-- t120313: double (nullable = true)
 |-- t120399: double (nullable = true)
 |-- t120401: double (nullable = true)
 |-- t120402: double (nullable = true)
 |-- t120403: double (nullable = true)
 |-- t120404: double (nullable = true)
 |-- t120405: double (nullable = true)
 |-- t120499: double (nullable = true)
 |-- t120501: double (nullable = true)
 |-- t120502: double (nullable = true)
 |-- t120503: double (nullable = true)
 |-- t120504: double (nullable = true)
 |-- t120599: double (nullable = true)
 |-- t129999: double (nullable = true)
 |-- t130101: double (nullable = true)
 |-- t130102: double (nullable = true)
 |-- t130103: double (nullable = true)
 |-- t130104: double (nullable = true)
 |-- t130105: double (nullable = true)
 |-- t130106: double (nullable = true)
 |-- t130107: double (nullable = true)
 |-- t130108: double (nullable = true)
 |-- t130109: double (nullable = true)
 |-- t130110: double (nullable = true)
 |-- t130111: double (nullable = true)
 |-- t130112: double (nullable = true)
 |-- t130113: double (nullable = true)
 |-- t130114: double (nullable = true)
 |-- t130115: double (nullable = true)
 |-- t130116: double (nullable = true)
 |-- t130117: double (nullable = true)
 |-- t130118: double (nullable = true)
 |-- t130119: double (nullable = true)
 |-- t130120: double (nullable = true)
 |-- t130121: double (nullable = true)
 |-- t130122: double (nullable = true)
 |-- t130123: double (nullable = true)
 |-- t130124: double (nullable = true)
 |-- t130125: double (nullable = true)
 |-- t130126: double (nullable = true)
 |-- t130127: double (nullable = true)
 |-- t130128: double (nullable = true)
 |-- t130129: double (nullable = true)
 |-- t130130: double (nullable = true)
 |-- t130131: double (nullable = true)
 |-- t130132: double (nullable = true)
 |-- t130133: double (nullable = true)
 |-- t130134: double (nullable = true)
 |-- t130135: double (nullable = true)
 |-- t130136: double (nullable = true)
 |-- t130199: double (nullable = true)
 |-- t130201: double (nullable = true)
 |-- t130202: double (nullable = true)
 |-- t130203: double (nullable = true)
 |-- t130204: double (nullable = true)
 |-- t130205: double (nullable = true)
 |-- t130206: double (nullable = true)
 |-- t130207: double (nullable = true)
 |-- t130208: double (nullable = true)
 |-- t130209: double (nullable = true)
 |-- t130210: double (nullable = true)
 |-- t130211: double (nullable = true)
 |-- t130212: double (nullable = true)
 |-- t130213: double (nullable = true)
 |-- t130214: double (nullable = true)
 |-- t130215: double (nullable = true)
 |-- t130216: double (nullable = true)
 |-- t130217: double (nullable = true)
 |-- t130218: double (nullable = true)
 |-- t130219: double (nullable = true)
 |-- t130220: double (nullable = true)
 |-- t130221: double (nullable = true)
 |-- t130222: double (nullable = true)
 |-- t130223: double (nullable = true)
 |-- t130224: double (nullable = true)
 |-- t130225: double (nullable = true)
 |-- t130226: double (nullable = true)
 |-- t130227: double (nullable = true)
 |-- t130228: double (nullable = true)
 |-- t130229: double (nullable = true)
 |-- t130230: double (nullable = true)
 |-- t130231: double (nullable = true)
 |-- t130232: double (nullable = true)
 |-- t130299: double (nullable = true)
 |-- t130301: double (nullable = true)
 |-- t130302: double (nullable = true)
 |-- t130399: double (nullable = true)
 |-- t130401: double (nullable = true)
 |-- t130402: double (nullable = true)
 |-- t130499: double (nullable = true)
 |-- t139999: double (nullable = true)
 |-- t140101: double (nullable = true)
 |-- t140102: double (nullable = true)
 |-- t140103: double (nullable = true)
 |-- t140104: double (nullable = true)
 |-- t140105: double (nullable = true)
 |-- t149999: double (nullable = true)
 |-- t150101: double (nullable = true)
 |-- t150102: double (nullable = true)
 |-- t150103: double (nullable = true)
 |-- t150104: double (nullable = true)
 |-- t150105: double (nullable = true)
 |-- t150106: double (nullable = true)
 |-- t150199: double (nullable = true)
 |-- t150201: double (nullable = true)
 |-- t150202: double (nullable = true)
 |-- t150203: double (nullable = true)
 |-- t150204: double (nullable = true)
 |-- t150299: double (nullable = true)
 |-- t150301: double (nullable = true)
 |-- t150302: double (nullable = true)
 |-- t150399: double (nullable = true)
 |-- t150401: double (nullable = true)
 |-- t150402: double (nullable = true)
 |-- t150499: double (nullable = true)
 |-- t150501: double (nullable = true)
 |-- t150599: double (nullable = true)
 |-- t150601: double (nullable = true)
 |-- t150602: double (nullable = true)
 |-- t150699: double (nullable = true)
 |-- t159989: double (nullable = true)
 |-- t160101: double (nullable = true)
 |-- t160102: double (nullable = true)
 |-- t160103: double (nullable = true)
 |-- t160104: double (nullable = true)
 |-- t160105: double (nullable = true)
 |-- t160106: double (nullable = true)
 |-- t160107: double (nullable = true)
 |-- t160108: double (nullable = true)
 |-- t169989: double (nullable = true)
 |-- t180101: double (nullable = true)
 |-- t180199: double (nullable = true)
 |-- t180280: double (nullable = true)
 |-- t180381: double (nullable = true)
 |-- t180382: double (nullable = true)
 |-- t180399: double (nullable = true)
 |-- t180481: double (nullable = true)
 |-- t180482: double (nullable = true)
 |-- t180499: double (nullable = true)
 |-- t180501: double (nullable = true)
 |-- t180502: double (nullable = true)
 |-- t180589: double (nullable = true)
 |-- t180601: double (nullable = true)
 |-- t180682: double (nullable = true)
 |-- t180699: double (nullable = true)
 |-- t180701: double (nullable = true)
 |-- t180782: double (nullable = true)
 |-- t180801: double (nullable = true)
 |-- t180802: double (nullable = true)
 |-- t180803: double (nullable = true)
 |-- t180804: double (nullable = true)
 |-- t180805: double (nullable = true)
 |-- t180806: double (nullable = true)
 |-- t180807: double (nullable = true)
 |-- t180899: double (nullable = true)
 |-- t180901: double (nullable = true)
 |-- t180902: double (nullable = true)
 |-- t180903: double (nullable = true)
 |-- t180904: double (nullable = true)
 |-- t180905: double (nullable = true)
 |-- t180999: double (nullable = true)
 |-- t181002: double (nullable = true)
 |-- t181081: double (nullable = true)
 |-- t181099: double (nullable = true)
 |-- t181101: double (nullable = true)
 |-- t181199: double (nullable = true)
 |-- t181201: double (nullable = true)
 |-- t181202: double (nullable = true)
 |-- t181204: double (nullable = true)
 |-- t181283: double (nullable = true)
 |-- t181299: double (nullable = true)
 |-- t181301: double (nullable = true)
 |-- t181302: double (nullable = true)
 |-- t181399: double (nullable = true)
 |-- t181401: double (nullable = true)
 |-- t181499: double (nullable = true)
 |-- t181501: double (nullable = true)
 |-- t181599: double (nullable = true)
 |-- t181601: double (nullable = true)
 |-- t181699: double (nullable = true)
 |-- t181801: double (nullable = true)
 |-- t181899: double (nullable = true)
 |-- t189999: double (nullable = true)
 |-- t500101: double (nullable = true)
 |-- t500103: double (nullable = true)
 |-- t500104: double (nullable = true)
 |-- t500105: double (nullable = true)
 |-- t500106: double (nullable = true)
 |-- t500107: double (nullable = true)
 |-- t509989: double (nullable = true)

# 3.Classified Columns

In [6]:
def classifiedColumns(columnNames):
    primary_column_list = []
    work_column_list = []
    other_column_list = []
    for i in columnNames:
        if i.startswith(("t01", "t03", "t11", "t1801", "t1803")):
            primary_column_list.append(i)
        elif i.startswith(("t05", "t1805")):
            work_column_list.append(i)
        elif i.startswith(("t02", "t04", "t06", "t07", "t08", "t09", "t10", "t12", "t13", "t14", "t15", "t16", "t18")):
            if i=="t1801" and i=="t1803" and i=="t1805":
                continue
            else:
                other_column_list.append(i)
    return primary_column_list, work_column_list, other_column_list

In [7]:
primary_column_list, work_column_list, other_column_list = classifiedColumns(data_set.columns)
print("PRIMARY NEEDED COLUMNS:", primary_column_list)
print("WORK COLUMNS:", work_column_list)
print("OTHER(LEISURE) COLUMNS:", other_column_list)

('PRIMARY NEEDED COLUMNS:', ['t010101', 't010102', 't010199', 't010201', 't010299', 't010301', 't010399', 't010401', 't010499', 't010501', 't010599', 't019999', 't030101', 't030102', 't030103', 't030104', 't030105', 't030108', 't030109', 't030110', 't030111', 't030112', 't030186', 't030199', 't030201', 't030202', 't030203', 't030204', 't030299', 't030301', 't030302', 't030303', 't030399', 't030401', 't030402', 't030403', 't030404', 't030405', 't030499', 't030501', 't030502', 't030503', 't030504', 't030599', 't039999', 't110101', 't110199', 't110281', 't110289', 't119999', 't180101', 't180199', 't180381', 't180382', 't180399'])
('WORK COLUMNS:', ['t050101', 't050102', 't050103', 't050189', 't050201', 't050202', 't050203', 't050204', 't050289', 't050301', 't050302', 't050303', 't050304', 't050389', 't050403', 't050404', 't050405', 't050481', 't050499', 't059999', 't180501', 't180502', 't180589'])
('OTHER(LEISURE) COLUMNS:', ['t020101', 't020102', 't020103', 't020104', 't020199', 't020201', 't020202', 't020203', 't020299', 't020301', 't020302', 't020303', 't020399', 't020401', 't020402', 't020499', 't020501', 't020502', 't020599', 't020681', 't020699', 't020701', 't020799', 't020801', 't020899', 't020901', 't020902', 't020903', 't020904', 't020905', 't020999', 't029999', 't040101', 't040102', 't040103', 't040104', 't040105', 't040108', 't040109', 't040110', 't040111', 't040112', 't040186', 't040199', 't040201', 't040202', 't040203', 't040204', 't040299', 't040301', 't040302', 't040303', 't040399', 't040401', 't040402', 't040403', 't040404', 't040405', 't040499', 't040501', 't040502', 't040503', 't040504', 't040505', 't040506', 't040507', 't040508', 't040599', 't049999', 't060101', 't060102', 't060103', 't060104', 't060199', 't060201', 't060202', 't060203', 't060289', 't060301', 't060302', 't060303', 't060399', 't060401', 't060402', 't060403', 't060499', 't069999', 't070101', 't070102', 't070103', 't070104', 't070105', 't070199', 't070201', 't070299', 't070301', 't070399', 't079999', 't080101', 't080102', 't080199', 't080201', 't080202', 't080203', 't080299', 't080301', 't080302', 't080399', 't080401', 't080402', 't080403', 't080499', 't080501', 't080502', 't080599', 't080601', 't080602', 't080699', 't080701', 't080702', 't080799', 't080801', 't080899', 't089999', 't090101', 't090102', 't090103', 't090104', 't090199', 't090201', 't090202', 't090299', 't090301', 't090302', 't090399', 't090401', 't090402', 't090499', 't090501', 't090502', 't090599', 't099999', 't100101', 't100102', 't100103', 't100199', 't100201', 't100299', 't100381', 't100383', 't100399', 't100401', 't100499', 't109999', 't120101', 't120199', 't120201', 't120202', 't120299', 't120301', 't120302', 't120303', 't120304', 't120305', 't120306', 't120307', 't120308', 't120309', 't120310', 't120311', 't120312', 't120313', 't120399', 't120401', 't120402', 't120403', 't120404', 't120405', 't120499', 't120501', 't120502', 't120503', 't120504', 't120599', 't129999', 't130101', 't130102', 't130103', 't130104', 't130105', 't130106', 't130107', 't130108', 't130109', 't130110', 't130111', 't130112', 't130113', 't130114', 't130115', 't130116', 't130117', 't130118', 't130119', 't130120', 't130121', 't130122', 't130123', 't130124', 't130125', 't130126', 't130127', 't130128', 't130129', 't130130', 't130131', 't130132', 't130133', 't130134', 't130135', 't130136', 't130199', 't130201', 't130202', 't130203', 't130204', 't130205', 't130206', 't130207', 't130208', 't130209', 't130210', 't130211', 't130212', 't130213', 't130214', 't130215', 't130216', 't130217', 't130218', 't130219', 't130220', 't130221', 't130222', 't130223', 't130224', 't130225', 't130226', 't130227', 't130228', 't130229', 't130230', 't130231', 't130232', 't130299', 't130301', 't130302', 't130399', 't130401', 't130402', 't130499', 't139999', 't140101', 't140102', 't140103', 't140104', 't140105', 't149999', 't150101', 't150102', 't150103', 't150104', 't150105', 't150106', 't150199', 't150201', 't150202', 't150203', 't150204', 't150299', 't150301', 't150302', 't150399', 't150401', 't150402', 't150499', 't150501', 't150599', 't150601', 't150602', 't150699', 't159989', 't160101', 't160102', 't160103', 't160104', 't160105', 't160106', 't160107', 't160108', 't169989', 't180280', 't180481', 't180482', 't180499', 't180601', 't180682', 't180699', 't180701', 't180782', 't180801', 't180802', 't180803', 't180804', 't180805', 't180806', 't180807', 't180899', 't180901', 't180902', 't180903', 't180904', 't180905', 't180999', 't181002', 't181081', 't181099', 't181101', 't181199', 't181201', 't181202', 't181204', 't181283', 't181299', 't181301', 't181302', 't181399', 't181401', 't181499', 't181501', 't181599', 't181601', 't181699', 't181801', 't181899', 't189999'])

# 4.timeUsageSummary

In [14]:
def timeUsageSummary(primary_column_list, work_column_list, other_column_list, data_set):
    data_set = data_set.filter(~(data_set.telfs==5))

    summary_df = data_set.withColumn("telfs", when((data_set.telfs==1) | (data_set.telfs==2), "Employed").otherwise("Unemployed"))\
                         .withColumn("tesex", when(data_set.tesex==1, "Male").otherwise("Female"))\
                         .withColumn("teage", when(data_set.teage<22, "Young").when((data_set.teage<22)|(data_set.teage<55), "Active").otherwise("Elder"))

    summary_df = summary_df.withColumn('total_primary_needs_time', sum(summary_df[col] for col in primary_column_list))\
                           .withColumn('total_work_time', sum(summary_df[col] for col in work_column_list))\
                           .withColumn('total_leisure_time', sum(summary_df[col] for col in other_column_list))
                   
    summary_df = summary_df.select(summary_df.telfs,
                                   summary_df.tesex,
                                   summary_df.teage, 
                                   summary_df.total_primary_needs_time, 
                                   summary_df.total_work_time, 
                                   summary_df.total_leisure_time) 

    summary_df = summary_df.withColumn("total_primary_needs_time", functions.round(summary_df["total_primary_needs_time"]/60, 2))\
                               .withColumn("total_work_time", functions.round(summary_df["total_work_time"]/60, 2))\
                               .withColumn("total_leisure_time", functions.round(summary_df["total_leisure_time"]/60, 2))                                                 
    return summary_df

In [15]:
def timeUsageGrouped(summary_df):
    aggregate_df = summary_df.groupBy("telfs","tesex","teage")\
                             .mean("total_primary_needs_time", "total_work_time", "total_leisure_time")\
                             .orderBy("telfs","tesex","teage", ascending=True) 

    aggregate_df = aggregate_df.withColumnRenamed("telfs", "Working_Status")\
                               .withColumnRenamed("tesex", "Sex")\
                               .withColumnRenamed("teage", "Age")\
                               .withColumnRenamed("avg(total_primary_needs_time)", "Total_Primary_Needed_Time")\
                               .withColumnRenamed("avg(total_work_time)", "Total_Work_Time")\
                               .withColumnRenamed("avg(total_leisure_time)", "Total_Leisure_Time")

    aggregate_df = aggregate_df.withColumn("Total_Primary_Needed_Time", functions.round(aggregate_df["Total_Primary_Needed_Time"], 2))\
                               .withColumn("Total_Work_Time", functions.round(aggregate_df["Total_Work_Time"], 2))\
                               .withColumn("Total_Leisure_Time", functions.round(aggregate_df["Total_Leisure_Time"], 2))
                           
    
    return aggregate_df

In [16]:
summary_df = timeUsageSummary(primary_column_list, work_column_list, other_column_list, data_set)
summary_df.show()

+----------+------+------+------------------------+---------------+------------------+
|     telfs| tesex| teage|total_primary_needs_time|total_work_time|total_leisure_time|
+----------+------+------+------------------------+---------------+------------------+
|  Employed|  Male| Elder|                   15.25|            0.0|              8.75|
|  Employed|Female|Active|                   13.83|            0.0|             10.17|
|  Employed|Female|Active|                   11.92|            0.0|             12.08|
|Unemployed|Female|Active|                   13.08|            2.0|              8.92|
|  Employed|  Male|Active|                   11.78|           8.58|              3.63|
|  Employed|Female|Active|                    17.0|            0.0|               7.0|
|  Employed|Female|Active|                   12.78|           8.57|              2.65|
|  Employed|Female| Young|                     9.0|           9.08|              5.92|
|  Employed|Female|Active|                   13.17|            0.0|             10.83|
|  Employed|Female|Active|                    6.68|            4.5|             12.82|
|  Employed|  Male|Active|                    9.83|          12.13|              2.03|
|  Employed|Female|Active|                   12.42|            0.0|             11.58|
|  Employed|Female|Active|                   11.63|           6.33|              6.03|
|  Employed|Female|Active|                   12.15|            9.0|              2.85|
|  Employed|Female|Active|                   13.75|           0.75|               9.5|
|  Employed|Female|Active|                   11.17|           1.08|             11.75|
|  Employed|Female| Young|                   11.42|            0.0|             12.58|
|  Employed|Female|Active|                    15.8|            0.0|               8.2|
|  Employed|  Male|Active|                    9.67|          11.62|              2.72|
|  Employed|Female|Active|                    12.1|           7.97|              3.93|
+----------+------+------+------------------------+---------------+------------------+
only showing top 20 rows

In [17]:
summary_df.write.format("org.apache.spark.sql.cassandra")\
  .options(table="persons", keyspace="project").mode("append").save()

In [12]:
aggregate_df = timeUsageGrouped(summary_df)
aggregate_df.show()

+--------------+------+------+-------------------------+---------------+------------------+
|Working_Status|   Sex|   Age|Total_Primary_Needed_Time|Total_Work_Time|Total_Leisure_Time|
+--------------+------+------+-------------------------+---------------+------------------+
|      Employed|Female|Active|                    11.57|           4.15|              8.12|
|      Employed|Female| Elder|                    10.61|           3.98|              9.22|
|      Employed|Female| Young|                     11.6|           3.15|              9.07|
|      Employed|  Male|Active|                    10.85|           5.22|              7.77|
|      Employed|  Male| Elder|                    10.41|           4.82|               8.6|
|      Employed|  Male| Young|                    10.92|           3.53|              9.39|
|    Unemployed|Female|Active|                    12.49|           0.49|             10.74|
|    Unemployed|Female| Elder|                    10.92|           0.43|             12.38|
|    Unemployed|Female| Young|                    12.41|           0.22|             11.17|
|    Unemployed|  Male|Active|                    11.41|           0.93|             11.37|
|    Unemployed|  Male| Elder|                    10.71|           0.69|             12.31|
|    Unemployed|  Male| Young|                    11.68|           0.21|             11.89|
+--------------+------+------+-------------------------+---------------+------------------+

# Q1

In [24]:
aggregate_df.select("Total_Primary_Needed_Time", "Total_Leisure_Time")\
            .agg(functions.mean("Total_Primary_Needed_Time"), functions.mean("Total_Leisure_Time"))\
            .show()

+------------------------------+-----------------------+
|avg(Total_Primary_Needed_Time)|avg(Total_Leisure_Time)|
+------------------------------+-----------------------+
|            11.298333333333334|     10.169166666666667|
+------------------------------+-----------------------+

# Q2

In [27]:
aggregate_df.groupBy("Sex")\
            .agg(functions.mean("Total_Work_Time"))\
            .show()

+------+--------------------+
|   Sex|avg(Total_Work_Time)|
+------+--------------------+
|Female|  2.0700000000000003|
|  Male|  2.5666666666666664|
+------+--------------------+

# Q3

In [25]:
aggregate_df.groupBy("Age")\
             .agg(functions.mean("Total_Leisure_Time"))\
             .where((aggregate_df.Age =="Active") | (aggregate_df.Age =="Elder"))\
             .show()

+------+-----------------------+
|   Age|avg(Total_Leisure_Time)|
+------+-----------------------+
|Active|                    9.5|
| Elder|     10.627500000000001|
+------+-----------------------+

# Q4

In [26]:
aggregate_df.groupBy("Working_Status")\
            .agg(functions.mean("Total_Leisure_Time"))\
            .show()

+--------------+-----------------------+
|Working_Status|avg(Total_Leisure_Time)|
+--------------+-----------------------+
|      Employed|                  8.695|
|    Unemployed|     11.643333333333333|
+--------------+-----------------------+